# ======================
# 🐍 PYTHON
# ======================
__pycache__/
*.pyc

# ======================
# 🗄 DATABASE
# ======================
*.sqlite

# ======================
# 🌐 NODE / FRONTEND
# ======================
node_modules/
dist/
.vite/

# ======================
# 🔐 ENV / SECRETS
# ======================
.env

# ======================
# 📜 LOGS
# ======================
*.log

# ======================
# 💻 SYSTEM FILES
# ======================
.DS_Store
Thumbs.db