body.dark {
  --bg: #0b0f1a;
  --panel: #111827;
  --card: #1f2937;
  --text: #ffffff;
  --accent: #00ff99;
}

body.light {
  --bg: #ffffff;
  --panel: #f3f4f6;
  --card: #e5e7eb;
  --text: #111827;
  --accent: #0077ff;
}

/* APPLY */
body {
  background: var(--bg);
  color: var(--text);
}